<p>Dear Sponsor:</p>
<p>I’m participating in the Fairwood Explorer Elementary Walkathon on October 16th. The Walkathon will raise funds to provide
  the teachers with supplemental resources, classroom supplies, assemblies and enriched curriculum opportunities.</p>
<p>You can sponsor me by making a pledge per lap, which can be capped, or by making a pre-set donation.
  Pre-set donations can be collected before the walk. If you pledge by lap, I’ll let you know how many laps I
  walked and will collect your pledge no later than October 23rd.</p>


<p>Checks are to be made payable to <strong>Fairwood Explorer Alliance</strong>
  or you can pay via PayPal after making your pledge. All contributions are
  tax-deductible.</p>

<p>Thank you for your support!</p>
