<div class="mycontainer">
  <h1>Walkathon Pledges</h1>
  <% @students.each do |student| %>
  <% pledge_list = @walkathon_pledges[student.full_name] %>
      <h2><%= student.full_name %></h2>
      <p style="font-size: 16px;">Pledge page
        <button type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Send this link to sponsors to make it easy for them to pledge for your child.">
          <span class="glyphicon glyphicon-question-sign"></span>
        </button>:
        <span style="font-size: 14px; color: mediumpurple"><%= walkathon_url(sid: student.uuid) %></span>
        <button type="button" class="btn btn-primary btn-sm my_clip_button" data-clipboard-text='<%= walkathon_url(sid: student.uuid) %>' title='Copy to clipboard'>
          Copy
        </button>
      </p>
      <% if pledge_list.blank? %>
      This student has no pledges.
      <% else %>
      <%= render 'student_pledges', pledge_list: pledge_list %>
      <% end %>
  <% end %>
</div>
<script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($(".my_clip_button"));
    clip.on('aftercopy', function (event) {
      $(event.target)
          .attr('title', 'Copied!')
          .tooltip('fixTitle')
          .tooltip('show');
    });
  });
</script>
