<div class="mycontainer new-pledge" style="background-color: white">
  <%= image_tag("WAT-15_Online_pledge_header.png", width: "450", style: "display: block; margin: auto") %>

  <%= render 'introduction' %>
  <hr>
  <%= render 'form' %>
</div>
