<div style="width: 350px; height: 300px; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background-color: white; padding: 10px; border-radius: 10px">
<h2 align="center">Thank you!</h2>
<p align="center">Thanks for supporting Fairwood Elementary School. After the walkathon, we'll send you an invoice with your
  final donation amount.</p>
  <p align="center">If you have pledged a fixed amount, you may submit your donation right now by making a
    <a href="#" onclick="$('#pay').submit();">
      PayPal payment to exploreralliance@gmail.com</a>.</p>

  <form id="pay" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="4B8RH432XDDCA">
  </form>

  <%= image_tag("FEE_Logo_color.png", width: "200", style: "display: block; margin: auto") %>
</div>
