<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h2>Welcome to the Fairwood Explorer Portal, <%= @user.first_name %></h2>

<p>
  You have successfully signed up for the service with a login e-mail of
  <strong><%= @user.email %></strong>. Please be sure to add your
  children / students in the <strong>Students</strong> page.
</p>
<p>
  This portal contains two apps:
  <ul>
    <li><strong>Afterschool Activities Enrollment Service</strong> - Enroll your students in activities, track their enrollments.</li>
    <li><strong>Walkathon Pledge Service</strong> - Track pledges for your students, including the status of pledge payments.</li>
  </ul>
</p>

<p>
  You may want to bookmark the site address for future reference: <%= root_url %>.
</p>

<p>Thanks for joining and have a great day!</p>

<p>
  - The Fairwood Explorer Portal Team
</p>
</body>
</html>
