<% provide(:panel_title, "Student: #{@student.first_name} #{@student.last_name}") %>

<p>
  <strong>Grade:</strong>
  <%= @student.grade %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @student.teacher %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
