// Place all the styles related to the Walkathon::Payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.mycontainer {
  //width: 800px;
  background-color: whitesmoke;
  margin: 20px auto auto auto;
  padding: 1px 10px 10px 10px;
  border-radius: 10px;
}
