<h2>Welcome to the Fairwood Afterschool Activities Enrollment Service</h2>

<p>
  This is the enrollment service for afterschool activities offered by the Fairwood
  Explorer program.
</p>
<p>
  Please
  <% unless current_parent %>
    <%= link_to "sign up", new_parent_registration_path %> for an account,
  <% end %>
  register your students
  <% unless current_parent %>,
  <% end %>
  and then enroll into activities.
</p>
<p>
  Contact <%= mail_to(ENV['ASA_EMAIL'], ENV['ASA_ADMIN_NAME']) %>
  of the Afterschool Activities Team for questions about activities.
  Contact the <%= mail_to('fairwood-techsupport@googlegroups.com', 'IT') %> team for
  technical issues with the site.
</p>
<p>
  Thanks!
</p>
