<h2>Welcome to the Fairwood Explorer Portal</h2>

<p>
  This application provides some online services for the Fairwood Explorer community.  Please
  <% unless current_parent %>
      <%= link_to "sign up", new_parent_registration_path %> for an account and
  <% end %>
  register your students in order to use these services.
</p>
<p>
  Contact the IT team at fairwood-techsupport@googlegroups.com for
  technical issues with the site.
</p>

<h3>Afterschool Activities Enrollment Service</h3>
<p>
  This is the enrollment service for afterschool activities offered by the Fairwood
  Explorer program.
</p>
<p>
  Contact <%= ENV['ASA_ADMIN_NAME'] %> at <%= ENV['ASA_EMAIL'] %>
  of the Afterschool Activities Team for questions about activities.
</p>
<h3>Walkathon Pledge Service</h3>
<p>
  This service enables sponsors to make pledges for Fairwood students, and it allows parents to
  track pledges for their students, including the status of pledge payments.
</p>
<p>
  Click on the button for the service you are interested in at the top of this page.
</p>
