<h2>Welcome to the Fairwood Afterschool Activities Registration Service</h2>
Please <%= link_to "sign up", new_parent_registration_path %> for an account,
register your students, and then register for activities.

Contact the afterschool activities team for questions about activities.
Contact the <a href="mailto:fairwood-techsupport@googlegroups.com">IT</a> team for
technical issues with the site.

Thanks!
