<table class="table table-condensed table-bordered">
  <thead>
  <tr>
    <% if show_season %>
      <th>Season</th>
    <% end %>
    <th>Activity</th>
    <th>Student</th>
    <% if current_parent.asa? %>
      <th>Grade</th>
      <th>Teacher</th>
      <th>Room</th>
      <th>Parent</th>
      <th>Email</th>
      <th>Phone</th>
    <% end %>
    <th>Low income slot</th>
    <% if current_parent.asa? %>
      <th>Committed</th>
    <% end %>
    <th>Payment Type</th>
    <th>On Waiting List?</th>
    <% unless show_season %>
      <th></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <%= render partial: 'enrollments/enrollment', collection: enrollments, locals: { show_season: show_season } %>
  </tbody>
</table>
