<h3>Enrollment cancelling!</h3>

<p>
  We are processing your enrollment cancellation for
  <strong><%= @enrollment.student.first_name %></strong>
  in the <strong><%= @enrollment.activity.name %></strong> activity.
</p>
<p>
  You should receive a mail from a member of the Afterschool Activities Team within two
  days confirming the cancellation along with information on how you will be reimbursed
  if you have already submitted payment for this activity.
</p>
<p>
  If you have any questions, please contact
  <%= mail_to(ENV['ASA_EMAIL'], ENV['ASA_ADMIN_NAME']) %>
  of the Afterschool Activities Team.
</p>
<%= link_to 'Home', root_path %>
