<h3>Your enrollment is pending!</h3>

<p>
  Thank you for your request of a free spot for the
  <strong><%= @enrollment.activity.name %></strong> class for
  <%= @enrollment.student.first_name %>. Your
  request is under evaluation by school authorities and will be confirmed to you by
  the ASA Team only if the activity has reached the minimum of enrollments to confirm
  the class.
</p>

<p>
  The ASA Team will contact you directly to confirm or decline your request. Thanks!
</p>
