<h1>Activities</h1>

<%= render partial: 'activity', collection: @activities %>

<% if current_parent.admin? %>
  <br>
  <%= link_to 'New Activity', new_activity_path %>
<% end %>
<script type="text/javascript">
  function showDescription(id) {
    $('#show-desc-' + id + '-div').hide();
    $('#desc-' + id).show();
  }

  $(function() {
    $('[data-toggle="tooltip"]').tooltip();
  })
</script>
