<% provide(:panel_title, 'Activities') %>

Category: <%= select_tag('category',
                         options_for_select(category_options(@activities_by_season))) %>
<hr>
<% @activities_by_season.each do |season, activities| %>
  <div class="section-header"><%= season %></div>
  <%= render partial: 'activity', collection: activities %>
  <hr>
<% end %>

<% if current_parent.admin? %>
  <br>
  <%= link_to 'New Activity', new_activity_path %>
<% end %>
<script type="text/javascript">
  function showDescription(id) {
    $('#show-desc-' + id + '-div').hide();
    $('#desc-' + id).show();
  }

  $(function () {
    $('[data-toggle="tooltip"]').tooltip();

    $('[data-toggle="popover"]').popover();

    // Change handler for category.
    $('#category').change(function () {
      var category = $(this).val();
      if (category == "All") {
        $('.activity').show();
      } else {
        $('.activity').hide();
        $('[data-category="' + category + '"]').show();
      }
    });
  });
</script>
