<% provide(:panel_title, 'Activities') %>

Category: <%= select_tag('category',
                         options_for_select(category_options(@activities_by_season))) %>
<span style="
padding-left: 20px;
">
  <a href="#"
     data-toggle="popover" data-trigger="focus"
     data-content="If you can't find an activity in this list, it means the vendor is handling enrollment. Please contact them directly using the link in the Afterschool Activities Spring 2016 document in the Downloads menu."
     data-html="true">
    Can't find what you're looking for?
  </a>
</span>
<hr>
<% @activities_by_season.each do |season, activities| %>
  <div class="section-header"><%= season %></div>
  <%= render partial: 'activity', collection: activities %>
  <hr>
<% end %>

<% if current_parent.asa? %>
  <br>
  <%= link_to 'New Activity', new_activity_path %>
<% end %>
<script type="text/javascript">
  function showDescription(id) {
    $('#show-desc-' + id + '-div').hide();
    $('#desc-' + id).show();
  }

  $(function () {
    $('[data-toggle="tooltip"]').tooltip();

    $('[data-toggle="popover"]').popover();

    // Change handler for category.
    $('#category').change(function () {
      var category = $(this).val();
      if (category == "All") {
        $('.activity').show();
      } else {
        $('.activity').hide();
        $('[data-category="' + category + '"]').show();
      }
    });
  });
</script>
