<h1>Activities</h1>

Category: <%= select_tag('category', options_for_select(category_options(@activities))) %>
<hr>
<%= render partial: 'activity', collection: @activities %>

<% if current_parent.admin? %>
  <br>
  <%= link_to 'New Activity', new_activity_path %>
<% end %>
<script type="text/javascript">
  function showDescription(id) {
    $('#show-desc-' + id + '-div').hide();
    $('#desc-' + id).show();
  }

  $(function() {
    $('[data-toggle="tooltip"]').tooltip();

    // Change handler for category.
    $('#category').change(function() {
      var category = $(this).val();
      if (category == "All") {
        $('.activity').show();
      } else {
        $('.activity').hide();
        $('[data-category="' + category + '"]').show();
      }
    });
  });
</script>
