<!DOCTYPE html>
<html>
<head>
  <title>Fairwood Apps</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="shortcut icon" href="/favicon3.ico" type="image/x-icon"/>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: teal">

<!--
<p class="notice"><\%= notice %></p>
<p class="alert"><\%= alert %></p>
-->
<div style="width: 1152px; margin: 40px auto 0 auto">
  <%= render partial: 'layouts/paneled' %>
</div>
</body>
</html>
